/* Footer */
.footer{
    background-color:black;
    padding: 25px 0;
}
ul{
    list-style: none;
    padding: 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h3{
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
}
.footer-col h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    box-sizing: border-box;
    width: 50px;
    height: 2px;
}.footer-col ul li:not(:last){
    margin-bottom: 5px;
}
.footer-col ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: 0.3s ease;
    display: block;

}
.footer-col ul li a:hover{
    padding-left: 10px;

}

.footer-col .social-icon a{
    background-color: white;
    text-decoration: none;
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: black;
}
.footer-col .social-icon a:hover{
    transition: 0.3 ease;
    background-color: black;
    color: white;

}
.delivery{
    color: red;
}
/* Resposive Website */
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .custom-image-col{
        width: 50%;
    }
}@media(max-width:576px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .custom-image-col{
        width: 100%;
        padding: 0 40px;

    }
}