
    <footer class="footer" id="contact">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col">
                    <h3>SuperQuotes</h3>
                    <ul>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="">About us</a>
                        </li>
                        <li>                            
                            <a href="">FAQs</a>
                        </li>
                        <li>
                            <a href="">Explorations</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Get Help</h3>
                    <ul>
                        <li>
                            <a href="">Information</a>
                        </li>
                        <li>
                            <a href="">Tool Free</a>
                        </li>
                        <li>                            
                            <a href="">call center</a>
                        </li>
                        <li>
                            <a href="">newsletter</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Quotes</h3>
                    <ul>
                        <li>
                            <a href="">Motivational Quotes</a>
                        </li>
                        <li>
                            <a href="">Inspirational Quotes</a>
                        </li>
                        <li>                            
                            <a href="">Love Expressions & Lines</a>
                        </li>
                        <li>
                            <a href="">Insinuation LInes</a>
                        </li>
                        <li>
                            <a href="">Innovators Quotes</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Follow-us</h3>
                    <div class="social-icon">
  
                        <a href="">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
  
                        <a href="">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    