<div class="row">
    <div class="col-sm-12">
      <p><b>Author ~ {{quote.author}}</b></p>
    </div>

    <div class="col-sm-12">
        <p>{{quote.datePosted |count}}</p>
    </div>
</div>
<div class="row">
    <div class="icons col-sm-9">
      <ul class=" ps-0" >
            <button class="btn-dislike" (click)="likeBtnClick()">
                <i class="upvote far fa-thumbs-up"></i>
            </button>
            <b><span class="text-danger">{{numberOfLikes | number}}</span></b>
            <button class="btn-like" (click)="dislikeBtnClick()">
                <i class="downvote far fa-thumbs-down"></i>
            </button>
             <button (click)="quoteComplete(true)" class="button btn btn-dark"><i class="fas fa-trash"></i></button>
      </ul>
    </div>
</div>
