
.custom-card{
    border-radius: 10px;
    box-shadow: 1px 1px 1px silver;
}
.color{
    color: red;
}
.custom-card{
    display: flex;
    flex-wrap: wrap;
}
.custom-cards{
    width: 25%;
}

/* Resposive Website */
@media(max-width: 992px){
    .custom-cards{
        width: 50%;
    }
}
@media(max-width:767px){
    .custom-cards{
        width: 50%;
    }
}@media(max-width:576px){
    .custom-cards{
        width: 100%;
    }
}
