.custom{
    margin: 0;
    padding: 0;
}
#name{
    margin: 0;
    padding: 10px;
}
button{
    padding-bottom: 10px;
}
textarea:focus, textarea:active{
    outline: none;
}
.black{
    background: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.ng-valid[required], .ng-valid.required {
    border: 1px solid rgb(102, 201, 102);
}
.ng-invalid:not(form){
    border: 1px sold red;
}
.dark{
    background-color: black;
    color: white;
}

:focus{
    outline: 0 !important;  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;

}

.accordion-body{
    margin: 0;
    padding: 0;
}
.accordion{
    margin-bottom: 10px;
}
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
form{
    outline: none;
}